.about-me {
  min-height: 100vh; /* Full height */
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
  color: white;
  background-color: #373737; /* Match the background color */
  padding: 2rem; /* Add some padding */
  text-align: left;
} 

.about-title{
  transform: translateY(-5rem);
  color: rgb(201, 201, 201);
}

.container{
  display: flex;
  flex-direction: row;
}

.picture{
  width: 20rem;
  height: auto;
  border-radius: 30%;
  justify-content: flex-start;
  margin-right: 2rem;
  padding: 1rem;
}

.text{
  max-width: 900px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.header{
  font-size: 3rem;
}

.description{
  font-size: 2rem;
  margin-top: 1rem;
}

@media(max-width: 730px){

  .picture{
    width: 15rem;
    height: auto;
    border-radius: 100%;
    justify-content: center;
  }

  .picture-container{
    display: flex;
    justify-content: center;
  }

  .header{
    font-size: 2rem;
  }

  .description{
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .container {
    flex-direction: column;
  }
}