.about-me {
  min-height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #373737; /* Match the background color */
  padding: 2rem; /* Add some padding */
} 