.App {
  text-align: center;
  min-height: 100vh; /* Ensure the App covers the full height */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrow-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}




.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}